<%= simple_form_for(insumo) do |f| %>
  <% if insumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insumo.errors.count, "error") %> prohibited this insumo from being saved:</h2>

      <ul>
      <% insumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :nombre %>
  <%= f.input :cantidad %>
  <%= f.input :unidadmedida, :as => :select, :collection => [["Kg","Kg"], ["Lt","Lt"]]
 %>

  <%= f.button :submit %>
<% end %>
